.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;

  @include mq($tablet) {
    padding: 0 4rem;
  }
}

.relative {
  position: relative;
  z-index: 2;
}

// Bgs
.bg-light {
  background-color: $light-color;
}

// Colors
.primary-color {
  color: $primary-color;
}
