// Colors
$primary-color: #cc3333;
$secondary-color: #2a435d;
$light-color: #fff8ee;
$soft-pink: #fffcf5;
$gray: #e6e6e6;
$yellow: #ff9933;
$bg-color: #fff;

// Fonts
$primary-font: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font: "Poppins", Helvetica, Arial, sans-serif;
$cursive-font: "Caveat", cursive;

// breakpoints
$tablet: 768px;
$laptop: 900px;
$pc: 1200px;
$x-large: 1550px;
$max-width: 1200px;

$t-time: 200ms;
$t-time-2: 300ms;
$t-easing: ease-in-out;
