@import "../../../styles/config.module";

.Container {
	position: relative;

	&:hover {
		&::before {
			visibility: visible;
			transform: scaleX(0);
			opacity: 0.4;
		}

		&::after {
			visibility: visible;
			transform: scaleY(0);
			opacity: 0.4;
		}
	}

	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		@include absolute;
		z-index: 4;
		transition: transform $t-time-2 $t-easing 100ms,
			opacity $t-time-2 linear;
	}

	&::before {
		transform-origin: 80% center;
	}
}
