@import "../../../styles/config.module";

.Container {
	@include flex(row, center);
	width: 100%;
}

.List {
	@include flex(row, center);

	li {
		margin: 0 1rem;
	}

	a {
		color: $secondary-color;
		text-transform: capitalize;
		font-size: 1.8rem;
		font-weight: 600;
		transition: color $t-time linear;

		&:hover {
			color: $primary-color;
		}
	}
}
