@import "../../../styles/config.module";

.Container {
  width: 100%;
  margin-bottom: 2rem;

  @include mq($tablet) {
    width: calc(50% - 1rem);
  }
  @include mq($laptop) {
    width: calc(33.3% - 1rem);
  }
}
