@import "../../../../styles/config.module";

.Container {
	margin-bottom: 4rem;
}

.Group {
	margin-bottom: 2rem;
}

.Title {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

.Text {
	font-size: 1.6rem;
}
