@import "../../../styles/config.module";

.Container {
  width: 100%;
  margin-bottom: 2rem;

  @include mq($tablet) {
    margin-bottom: 3rem;
  }
  @include mq($pc) {
    margin-bottom: 4rem;
  }
}

.MW {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.SmallTitle {
  font-size: 3.6rem;
  font-weight: 900;
  font-family: $cursive-font;
  color: $primary-color;
  text-transform: capitalize;
  margin-bottom: 1rem;

  @include mq($pc) {
    font-size: 4rem;
  }
}

.BigTitle {
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: capitalize;
  color: $secondary-color;

  @include mq($pc) {
    font-size: 5.2rem;
  }
}

.LargeTitle {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $secondary-color;

  @include mq($pc) {
    font-size: 6.2rem;
  }
}

.Lead {
  font-size: 1.4rem;

  @include mq($laptop) {
    font-size: 1.5rem;
  }
  @include mq($pc) {
    font-size: 1.6rem;
  }
}
