.Container-enter {
  opacity: 0;
  transform: translateY(2rem);
}
.Container-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms ease-in-out, opacity 200ms linear;
}

.Container-exit {
  opacity: 1;
  transform: translateY(0);
}

.Container-exit-active {
  opacity: 0;
  transform: translateY(2rem);
  transition: transform 200ms ease-in-out, opacity 200ms linear;
}
